<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

[[S51:reus_MessageViewerShare]]

<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="../assets/css/style-v3.css">
<link rel="shortcut icon" href="http://caseytrees.org/wp-content/themes/Firefly-Theme/img/favicon.ico">

<!--[if IE 8]><style>#menu ul{letter-spacing: -1px;}</style><![endif]-->
<!--[if IE]><style>
#logo a {
	background: none;
	filter: 
	progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://caseytrees.org/wp-content/themes/Firefly-Theme/images/logo-564.png",sizingMethod="scale");
}
</style>
<![endif]-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" src="../assets/js/main.js"></script>

<script type="text/javascript">
(function(){if(!/*@cc_on!@*/0)return;var e = "abbr,article,aside,audio,bb,canvas,datagrid,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(',');for(var i=0;i<e.length;i++){document.createElement(e[i])}})()
</script>

<!-- Previously Google Analytics Tracking by Google Analyticator 6.2: http://ronaldheft.com/code/analyticator/ -->
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8ZW2J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M8ZW2J');</script>
<!-- End Google Tag Manager -->

<script>
  $(document).ready(function(){
    //add the Selected class to the checked radio button
    $('input:radio:checked').parents(".donation-level-container").addClass("selected");
    //If another radio button is clicked, add the select class, and remove it from the previously selected radio
    $('input:radio').click(function () {
      
      $('input:radio:not(:checked)').parents(".donation-level-container").removeClass("selected");
      $(this).parents(".donation-level-container").addClass("selected");
    });

});
</script>

<noscript>For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" target="_blank"> instructions how to enable JavaScript in your web browser</a></noscript>
<style>

/* No fixed width for content area */

form .appArea {
  margin: 0;
  max-width: 100%;
  padding: 10px 0 0;
  width: 100%;
}

#content form {
  padding: 0 20px 20px;
}

/* Form title */

form .appArea h3 {
  font: normal 2em/1.5 'Yanone Kaffeesatz', sans-serif;
}

/* No left margins for forms */

.old-school td {
  width: 0;
}

/* No extra breaks */

.old-school br:last-of-type {
  display: none;
}

#content li {
  font: normal 1em/1.2 Arial, Helvetica, sans-serif;
}

/* Headings for forms */

form .appArea span.Explicit {
  font: normal 1.5em/2 'Yanone Kaffeesatz', sans-serif;
}

/* Labels for forms */

form .appArea label span.Explicit {
  font: normal 1em/2 Arial, Helvetica, sans-serif;
}

.appArea .wrapable {
  font: normal 14px/1 Arial, Helvetica sans-serif;
}

/* Input styles for forms */

.appArea input[type="text"],
.appArea input[type="number"],
.appArea input[type="password"],
.appArea textarea {
  border: none;
  padding: 5px 7px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 8px 0;
}

.appArea textarea,
.appArea input,
.appArea select,
.appArea option {
  border: none;
  font-size: 14px;
  margin: 8px 0;
}

.appArea input[type="radio"] {
  margin: 8px 4px 0 0;
}

#content form td p {
  margin: 0;
}

/* Buttons */

.appArea input[value="Submit Request"],
.appArea input[value="Submit"],
.appArea input[value="Submit Form"],
.appArea input[value="OK"],
.appArea input[value="Done"], 
.appArea input[value="I can't attend"], 
.appArea input[value="Confirm"] 
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  min-width: 132px;
  padding: 10px 7px;
  background-color: #e37c1c;
  background-image: none;
  border: none;
  color: #fff;
  font-size: 1.25em;
  float: right;
  margin-bottom: 20px;
  -webkit-appearance: none;
}

.appArea input[value="Submit Request"]:hover,
.appArea input[value="Submit"]:hover,
.appArea input[value="Submit Form"]:hover,
.appArea input[value="OK"]:hover,
.appArea input[value="Done"]:hover,
.appArea input[value="I can't attend"]:hover,
.appArea input[value="Confirm"]:hover {
  background-color: #6fa41d;
  background-image: none;
}

.appArea input[value="Cancel"],
.appArea input[value="Yes, I can make it"] {
  background-color: transparent;
  border: none;
  color: #6fa41d;
  float: left;
  text-decoration: underline;
  margin-top: 20px;
}


#eoy div.responsive div.donation-level-label-container {
    font-family: lucida grande;
    font-size: 1em;
    color: #fff;
}

#eoy div.responsive div.donation-level-container {
    float: left;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 5px;
    font-family: lucida grande;
}

 .donation-level-container {
    background-color:#91a5c2;
    margin: 4px;
    padding: 5px 14px 5px 5px;
    border-radius:10px;
    color:#fff;
  }

 .donation-level-container:hover {
    background-color:#e37c1c;
    color: #fff;
  }

  .donation-level-container.selected {
    background-color:#e37c1c;
    margin: 4px;
    padding: 5px 14px 5px 5px;
    border-radius:6px;
    color:#fff;
  }
  input[type=radio] {
   position:absolute;
   opacity: 0;
  }

div.responsive button.action-button,
div.responsive button.next-step {
  background-color: #91a5c2;
  background-image: none;
  border: none;
  color: #fff;
  font-size: 1.25em;
  float: left;
  width: 264px;
}

div.responsive button.action-button:hover,
div.responsive button.next-step:hover {
  background-color: #e37c1c;
  background-image: none;
  color: #fff;
}

div.responsive div.form-row div.form-content>input[type="text"] {
width:400px;
border-radius:10px;
height:27px;
margin-right:10px;
}

div.responsive div.form-row {
display:inline-block;
}

div#anonymous_donation_row {
display: block;
}

@media screen and (max-width: 480px) {

  .appArea input[type="text"],
  .appArea input[type="number"],
  .appArea input[type="password"] {
    max-width: 150px;
  }

  .appArea textarea {
    max-width: 250px;
  }

  #content form {
    padding: 0 5px 20px;
  }

div.responsive div.form-row div.form-content>input[type="text"] {
width:250px;
border-radius:10px;
height:27px;
margin-right:10px;
}

}

</style>