{#<form action="https://secure3.convio.net/ct/site/SSurvey" method="POST" class="get-updates" name="{{ name }}">
	<h3>Get Updates</h3>
	
	<div class="field">
		<div class="error"></div>
		<input type="text" name="cons_first_name" id="cons_first_name" value="First Name..." onfocus="if (this.value == this.defaultValue) this.value='';" onblur="if (this.value == '') this.value=this.defaultValue;" size="21" maxlength="50">
	</div>
	<div class="field">
		<div class="error"></div>
	    <input type="text" name="cons_last_name" id="cons_last_name" value="Last Name..." onfocus="if (this.value == this.defaultValue) this.value='';" onblur="if (this.value == '') this.value=this.defaultValue;" size="22" maxlength="50">
    </div>
    <div class="field">
		<div class="error"></div>
	    <input type="text" class="input-text" id="cons_email" name="cons_email" value="Email..." onfocus="if (this.value == this.defaultValue) this.value='';" onblur="if (this.value == '') this.value=this.defaultValue;">
    </div>
	
	<input type="submit" class="input-submit" value="Subscribe" title="Subscribe" id="ACTION_SUBMIT_SURVEY_RESPONSE" name="ACTION_SUBMIT_SURVEY_RESPONSE">
	
	{--# other Convio stuff #--}
	<input type="hidden" value="t" id="cons_info_component" name="cons_info_component">
	<div style="display:none">
		<label for="denySubmit">Spam Control Text:</label>&nbsp;
		<input type="text" alt="This field is used to prevent form submission by scripts." value="" id="denySubmit" name="denySubmit">&nbsp;Please leave this field empty
	</div>
	<input type="hidden" value="1162" id="SURVEY_ID" name="SURVEY_ID">
	
</form>#}
{# filter shortcodes %}
[formidable id=5 title=true description=false]
{% endfilter #}

{% include '_components/fa-form.twig' %}