<div class="social-links{% if bigger %} bigger{% endif %}">
	{% if options.facebook %}<a href="{{ options.facebook }}" class="facebook" target="_blank">{% include '_svg/icon-facebook.svg' %}</a>{% endif %}
	{% if options.twitter %}<a href="{{ options.twitter }}" class="twitter" target="_blank">{% include '_svg/icon-twitter.svg' %}</a>{% endif %}
	{% if options.instagram %}<a href="{{ options.instagram }}" class="instagram" target="_blank">{% include '_svg/icon-instagram.svg' %}</a>{% endif %}
	{% if options.youtube %}<a href="{{ options.youtube }}" class="youtube" target="_blank">{% include '_svg/icon-youtube.svg' %}</a>{% endif %}
</div>