{% extends "_layouts/full.twig" %}

{% block content %}
<div class="modules">
	{% for module in post.get_field('modules') %}
		{% include '_modules/' ~ module.acf_fc_layout ~ '.twig' with { module: module } %}
	{% endfor %}
</div>
{% endblock content %}