<section class="module secondary-content{% include '_modules/module-options.twig' with { module: module } %}">
	<div class="bound-layout narrow">
		<div class="the_content">
			{{ module.content }}
		</div>
	</div>
</section>