<article class="partial-post-small">
	<a href="{{ item.link }}">
        <time datetime="{{ item.date|date('Y-m-d') }}">{{ item.date|date('F j, Y') }}</time>
	    <h4>{{ item.title }}</h4>
    </a>
</article>
